{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script
    src="https://cdn.tiny.cloud/1/c3n6lu13jap2ehdz800xbmrmucezhjkqbjyfs2ps60jbgn4z/tinymce/5/tinymce.min.js"></script>
<script>
    $(function () {
        tinymce.init({
            selector: '#txtEditor',
            height: 400,
            menubar: false,
            plugins: 'paste image link autolink lists checklist table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media', 'checklist'
            ]
        });
    })
</script>

<script>
    $(function () {
        $('#date').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });
    })
</script>
{{/section}}

<form id="formEdit" action="/admin/nguphap/chinhsua" method="POST">
    <div>
        <div class=" m-5 shadow p-3 bg-gray rounded text-black">
            <div>
                <h5 class="modal-title text-black col-md-11" id="logoutModalLabel"><b>CHI TIẾT BÀI VIẾT</b></h5>
            </div>
            <hr>
            
            <div class="form-group row ml-5">
                <div class="col-md-12 d-flex flex-nowrap">
                    {{#each detail}}
                    <div class="col-md-4">
                        <label>ID: </label>
                        <input class="col-md-5" readonly name="Ma" type="text" id="id" class="form-control border"
                            value="{{idTips}}" style="border:none">
                    </div>
                    <div class="col-md-4">
                        <label>Tác giả: </label>
                        <input class="col-md-9" readonly name="tacGia" type="text" id="tenTacGia" class="form-control border"
                            value="{{hoten}}" style="border:none">
                    </div>
                    <div class="col-md-4">
                        <label>Ngày đăng: </label>
                        <input class="col-md-8" name="date" type="text" id="date" class="form-control border"
                            value="{{format NgayDang}}">
                    </div>
                </div>
                <div class="col-md-12 mt-3 d-flex flex-nowrap">
                    <div>
                        <label>Tiêu đề</labe>
                    </div>
                    <div class="col-md-9">
                        <input name="TieuDe" type="text" id="tieuDe" class="form-control border" value="{{TieuDe}}">
                    </div>
                </div>
                <div class="col-md-12 mt-3 d-flex flex-nowrap">
                    <div>
                        <label>Tóm tắt</labe>
                    </div>
                    <div class="col-md-9">
                         <textarea class="form-control border" name="TomTat" id="txtSummary" rows="5">{{{NoiDungTomTat}}}</textarea>
                    </div>
                </div>
                <div class="col-md-11 mt-3">
                    <textarea class="form-control border" name="NoiDung" id="txtEditor" rows="10">{{{NoiDung}}}</textarea>
                </div>
                {{/each}}
            </div>

            <div class="col-md-12 ml-5" style="margin-top:20px">
                <a class="btn btna" href="/admin/baiviet"
                    style="margin-left:none !important;height:35px;background-color:#2A3F54; color:floralwhite; width:100px"
                    type="button" id="Quaylai"><i class="fa fa-backward" aria-hidden="true">&nbsp;</i>Quay lại</a>
                <button class="btn btna btn-primary"
                    style="height:35px;background-color:#2A3F54; color:floralwhite; width:100px" type="submit"
                    id="Them">
                    <i class="fa fa-check" aria-hidden="true">&nbsp;</i>Lưu lại</button>
            </div>
        </div>

    </div>
</form>