{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}


{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script>
    $(function () {
        $('#formAdd').validate({
            rules: {
                tentv: {
                    required: true
                },
                CachPhatAm: {
                    required: true
                },
                chude: {
                    required: true
                },
                LoaiTu: {
                    required: true
                },
                YNghia: {
                    required: true
                },
                Vidu: {
                    required: true
                },
                fileAmThanh: {
                    required: true
                },
                fileHinh: {
                    required: true
                }
            },
            messages: {
                tentv: {
                    required: 'Nhập chính xác từ vựng'
                },
                CachPhatAm: {
                    required: 'Nhập chính xác cách phát âm'
                },
                chude: {
                    required: 'Nhập chính xác chủ đề'
                },
                LoaiTu: {
                    required: 'Nhập chính xác loại từ'
                },
                YNghia: {
                    required: 'Nhập chính xác ý nghĩa'
                },
                Vidu: {
                    required: 'Nhập chính xác ví dụ'
                },
                fileAmThanh: {
                    required: 'Nhập chính xác link âm thanh'
                },
                fileHinh: {
                    required: 'Nhập chính xác link hình ảnh'
                }
            },
            errorElement: 'small',
            errorClass: 'col help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        })
    })
</script>

{{/section}}
<form id="formAdd" action="/admin/tuvung/chinhsua" method="POST">
    <div>
        <div class=" m-5 shadow p-3 bg-gray rounded text-black">
            <h1>Chỉnh sửa từ vựng</h1>
            <div class="col-md-12 mt-4">
                <label class="col-md-2 ">Từ vựng:</label>
                <input readonly class="col-md-5" placeholder="Nhập từ vựng" name="tentv" type="text"
                    value="{{this.tuvung.TenTuVung}}">
            </div>
            <div class="col-md-12 mt-3">
                <label class="col-md-2">Chủ đề:</label>
                <select style="height: 30px" class="col-md-5" name="chude" id="">
                    <option value="">Chủ đề</option>
                    {{#each this.chude}}
                    <option {{#if isSelected}} selected {{/if}} value="{{idCDBaiHoc}}">{{TenBai}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-12 mt-4">
                <label class="col-md-2 ">Cách phát âm:</label>
                <input class="col-md-5" placeholder="Nhập cách phát âm" name="CachPhatAm" type="text"
                    value="{{this.tuvung.PhienAm}}">
            </div>
            <div class="col-md-12 mt-3">
                <label class="col-md-2">Loại từ:</label>
                <select style="height: 30px" class="col-md-5" name="LoaiTu" id="">
                    <option value="">Loại từ</option>
                    <option value="Verb">Verb</option>
                    <option value="Noun">Noun</option>
                    <option value="Adjective">Adjective</option>
                    <option value="Adverb">Adverb </option>
                    <option value="Preposition">Preposition </option>
                </select>
            </div>
            <div class="col-md-12 mt-4">
                <label class="col-md-2 ">Ý nghĩa:</label>
                <input class="col-md-5" placeholder="Ý nghĩa" name="YNghia" type="text" value="{{this.tuvung.YNghia}}">
            </div>
            <div class="col-md-12 mt-4">
                <label class="col-md-2 ">Link âm thanh:</label>
                <input class="col-md-5" placeholder="Link âm thanh" name="fileAmThanh" type="text"
                    value="{{this.tuvung.FileAmThanh}}">
            </div>
            <div class="col-md-12 mt-3">
                <label class="col-md-2">Ví dụ:</label>
                <textarea class="col-md-5" type="text" placeholder="Ví dụ" name="Vidu" value="{{this.tuvung.ViDu}}">{{this.tuvung.ViDu}}</textarea>
            </div>
            <div class="col-md-12 mt-3">
                <label class="col-md-2">Link hình ảnh:</label>
                <input class="col-md-5" type="text" placeholder="Link hình ảnh" name="fileHinh"
                    value="{{this.tuvung.FileHinhAnh}}">
            </div>
            <div class="col-md-12 ml-5" style="margin-top:20px">
                <a class="btn btna" href="/admin/tuvung"
                    style="margin-left:none !important;height:35px;background-color:#2A3F54; color:floralwhite; width:100px"
                    type="button" id="Quaylai"><i class="fa fa-backward" aria-hidden="true">&nbsp;</i>Quay lại</a>
                <button class="btn btna btn-primary"
                    style="height:35px;background-color:#2A3F54; color:floralwhite; width:100px" type="submit"
                    id="Them">
                    <i class="fa fa-check" aria-hidden="true">&nbsp;</i>Lưu lại</button>
            </div>
        </div>

    </div>
</form>