{{#section 'js'}}
<script>
    $(document).ready(function () {
        $("#showresult").click(function () {
            $("#result").show();
        });
    }); 
</script>
{{/section}}

<section class="site-section">
    {{!-- <div class="w3-sidebar" style="top: 0px;">
        <div class="w3-bar-block" id="leftmenuinner">
            <div class="w3-container text-center">
                <h3>CHỦ ĐỀ</h3>
            </div>
            {{#each Chude}}
            <div class="w3-collapse w3-bar-item">
                <a class="{{#if isSelected}}active{{/if}}" href="/{{LoaiBai}}/{{idCDBaiHoc}}">{{TenBai}}</a>
            </div>
            {{/each}}
        </div>
    </div> --}}
    <div class="container text-black">
        <div class="row">
            <div class="col-md-12 ">
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    {{#each Bainghe}}
                    <div>
                        <h2 class="mx-auto">{{tenBai}}</h2>
                    </div>
                    <br>
                    <div class="text-center">
                        <audio controls>
                            <source src="{{FileAmThanh}}" type="audio/mpeg">
                        </audio>
                    </div>
                    <br>
                    <div>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false">Question</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Script</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="contact" role="tabpanel"
                                aria-labelledby="contact-tab">
                                {{{BaiTap}}}

                                <div class="col-md-12 text-center">
                                    <a href="#" class="btn" id="showresult">Đáp án</a>
                                </div>
                                <div id="result" style="display: none">
                                    <b>Đáp Án</b>
                                    {{{DapAn}}}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p>{{{Script}}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="col-md-12">
                    <span class="col-md-5 float-left">
                        <a href="#" class="btn"> <i class="far fa-hand-point-left"></i> Quay về</a>
                    </span>
                    <span class="col-md-7 d-flex justify-content-end">
                        <a href="#" class="btn"> Bài tiếp theo <i class="far fa-hand-point-right"></i> </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="site-footer footer-edit">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">

                <div class="mb-5">
                    <h2 class="footer-heading mb-4 text-center">Subscribe để nhận được thông báo từ chúng tôi</h2>
                    <form action="#" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-black bg-transparent"
                                placeholder="Nhập Email của bạn" aria-label="Nhập Email của bạn"
                                aria-describedby="button-addon2" style="margin-left: 20px;">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="button"
                                    id="button-addon2">Subscribe</button>
                            </div>
                        </div>
                </div>


                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>

                </form>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made
                        with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>